@import "timeline";

main{
    width: 85%;
	background-color: $white;
    padding: $container--margin;
    
    .sectionwrapper{
        display: flex;
        justify-content: space-between;
    }

    section{
        border: 1px solid #ececec;
        margin-bottom: $container--margin;
        padding: $container--margin;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.05);
    }

    .work, .edu{
        .work__job{
            margin-bottom: 20px;
            padding: 5px;

            &.is-hover{
                background-color: #ececec;
                cursor: pointer;

                .job_bullet{
                    background-color: $color--secondary;
                    color: $white;
                }
            }

            &:last-of-type{
                margin-bottom: 0px;
            }

            .job_bullet{
                display: inline-block;
                height: 20px;
                width: 20px;
                border: 2px solid $color--primary;
                border-radius: 50%;
                text-align: center;
                font-size: 11px;
                line-height: 16px;
                font-weight: bold;
                position: relative;
                top: -2px;
                margin-right: 10px;
            }


        }
    }

    .work{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--primary;
    }

    .edu{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--secondary;

        .work__job{
            .job_bullet{
                border: 2px solid $color--secondary;
            }
        }
    }

    .skills{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--primary;
    }

    .brands{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--secondary;

        img{
            max-width: 80%;
            width: 170px;
            height: auto;
            margin-top: 30px;
            display: block;
            margin: 40px auto 0 auto;

            &:first-of-type{
                margin-top: 50px;
            }
        }
    }

    .projects{
        width: 100%;
        margin-bottom: 0;
        border-top: 10px solid $color--primary;

        .projectswrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .project{
                width: calc(100% / 4 - #{$container--margin});
                background-color: #ececec;
                cursor: pointer;
                margin-bottom: $container--margin;

                    &:nth-last-of-type(-n+4){
                        margin-bottom: 0;
                    }

                .project__thumb{
                    background-color: #B0B0B0;
                    width: 100%;
                    min-height: 200px;
                    color: $white;
                    background-size: cover;
                    background-position: center center;
                }

                .project__title{
                    // display: none;
                    margin: 10px 10px 5px;
                }

                .project__desc{
                    // display: none;
                    margin: 0 10px 10px;
                    font-size: 10px;
                    line-height: 13px;
                }
            }
        }

        .projectmorewrapper{
            background-color: rgba(0,0,0,0);
            transition: opacity 200ms ease-in-out;
            opacity: 0;
            display: flex;
            height: 0;

            &.is-active{
                position: fixed;
                opacity: 1;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                z-index: 888;
                background-color: rgba(0,0,0,0.8);  

                .projectmoreimage{
                    opacity: 1;
                    transition: opacity 200ms ease-in-out;
                    transition-delay: 0.5s;
                }
            }

            .projectmoreimage{
                width: 70%;
                color: $white;
                opacity: 0;
                overflow-y: scroll;
                margin-left: 30%;

                .imagewrapper{
                    width: 80%;
                    margin: 0 auto;
                    padding: 30px 0;
                    
                    img{
                        display: none;
                        max-width: 100%;
                        height: auto;

                        &.is-active{
                            display: block;
                        }
                    }
                }
            }

            .projectmore{
                width: 30%;
                height: 100vh;
                background-color: $white;
                z-index: 999;
                padding: 40px;
                position: absolute;
                left: -30%;
                top: 0;
                overflow-y: auto;

                &.is-active{
                    max-width: 100%;
                    display: block;
                    left: 0px;
                    transition: left 200ms ease-in-out;
                    transition-delay: 0.1s;

                    .projectmore__close {
                        position: relative;
                        display: block;
                        background-color: $color--primary;
                        width: 100%;
                        height: 30px;
    
                        &:hover{
                        }
    
                        &:before, &:after{
                            position: absolute;
                            right: 20px;
                            top: 5px;
                            content: ' ';
                            height: 20px;
                            width: 2px;
                            background-color: #FFF;
                        }
    
                        &:before { transform: rotate(45deg); }
                        &:after { transform: rotate(-45deg); }
                    }
                }

                .projectmore__image{
                    position: relative;
                    width: 100%;
                    height: 100px;
                    background-color: #ececec;
                    background-size: cover;
                    background-position: center center;
                    margin-bottom: 30px;
                }

                .projectmore__moreimages{

                    padding-top: $container--margin;

                    .projectmore__anotherimage{
                        width: 100%;
                        background-color: $white;
                        border: 1px solid $color--grey-light;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        color: $color--grey-dark;
                        font-size: 14px;
                        cursor: pointer;

                        .thumb{
                            margin: 7px 15px 7px 7px;
                            height: 15px;
                            width: 15px;
                            background-color: $color--grey-dark;
                        }

                        &:hover{
                            background-color: $color--grey-light;
                        }

                        &.is-active{
                            border-color: $color--primary; 

                            .thumb{
                                background-color: $color--secondary;
                            }
                        }
                    }
                }

                a.button{
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }              
        }
    }
}

@media only screen and (max-width: 1500px) {
    main{
        .projects{

            .projectswrapper{
                flex-wrap: wrap;

                .project{
                    width: calc(100% / 4 - #{$container--margin}/2);
                    margin-bottom: $container--margin;

                    &:nth-last-of-type(-n+3){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $snap--desktop) {
    main{

        section{
                margin-bottom: $container--margin--small;
        }
        .sectionwrapper{
            flex-wrap: wrap;

            section{
                margin-bottom: $container--margin--small;
                padding: $container--margin;
                width: 100%;
            }
        }

        .projects{

            .projectswrapper{
                flex-wrap: wrap;

                .project{
                    width: calc(100% / 2 - #{$container--margin}/2);
                    margin-bottom: $container--margin;

                    &:nth-last-of-type(-n+4){
                        margin-bottom: $container--margin;
                    }

                    &:nth-last-of-type(-n+2){
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $snap--tablet) {
    main{
        padding: $container--margin--small;

        .projects{

            .projectswrapper{
                flex-wrap: wrap;

                .project{
                    width: calc(50% - #{$container--margin}/2);
                    margin-bottom: $container--margin;

                    &:nth-last-of-type(-n+3){
                        margin-bottom: $container--margin;
                    }

                    &:nth-last-of-type(-n+2){
                        margin-bottom: 0;
                    }
                }
            }
                
            .projectmorewrapper{
                display: flex;
                flex-wrap: wrap;


                .projectmore{
                    width: 100%;
                    height: auto;
                    left: -100%;
                    position: relative;
                    display: none;

                    &.is-active{
                        left: 0;
                    }
                }

                .projectmoreimage{
                    width: 100%;
                    margin-left: 0;
                }

                &.is-active{
                    overflow-y: scroll;
                }
            }
        }
    }
}

@media only screen and (max-width: $snap--mobile) {
    main{
        padding: $container--margin--small;

        .projects{

            .projectswrapper{

                .project{
                    width: calc(100%);

                    &:nth-last-of-type(-n+2){
                        margin-bottom: $container--margin;
                    }

                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    }
                }
            }
                
            .projectmorewrapper{
                display: flex;
                flex-wrap: wrap;


                .projectmore{
                    width: 100%;
                    height: auto;
                    left: -100%;
                    position: relative;
                    display: none;

                    &.is-active{
                        left: 0;
                    }
                }

                .projectmoreimage{
                    width: 100%;
                    margin-left: 0;
                }

                &.is-active{
                    overflow-y: scroll;
                }
            }
        }
    }
}