main{
    width: 85%;
	background-color: $white;
    padding: $container--margin;
    
    .sectionwrapper{
        display: flex;
        justify-content: space-between;
    }

    section{
        border: 1px solid #ececec;
        margin-bottom: $container--margin;
        padding: $container--margin;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.05);
    }

    .timeline{
        width: 100%;

        .timelinewrapper{
            width: 100%;
            // background-color: #ececec;
            margin: 0 auto;

            .tl-row{
                display: flex;
                justify-content: space-between;

                .tl-field{
                    height: 40px;
                    width: calc(100% / 14);
                    position: relative;
                    // border: 1px solid #ececec;
                    // overflow: hidden;

                    .tl-field{
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 0;
                    }

                    .tl-ball{
                        display: block;
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        top: calc(50% - 12px);
                        left: 12px;
                        background-color: $white;
                        border: 4px solid $color--primary;
                        border-radius: 50%;
                        z-index: 99;
                        line-height: 16px;
                        text-align: center;

                        &.ball__yellow{
                            border: 4px solid $color--secondary;
                        }

                        &.is-hover{
                            background-color: $color--secondary;
                            cursor: pointer;
                            color: $white;
                        }
                    }

                    &.line, &.btm, &.mtt, &.mtb, &.ttm, &.ttb{
                        &:after, &:before{
                            content: '';
                            display: block;
                            height: 4px;
                            position: absolute;
                        }
                    }

                    &.line{
                        &:after{
                            width: 100%;
                            top: calc(50% - 2px);
                        }
                    }

                    &.btm{
                        &:before{
                            width: calc(100% - 19px);
                            top: calc(50% - 2px);
                            right: 0;
                        }
                        &:after{
                            width: 30px;
                            bottom: 7px;
                            left: -6px;
                            transform: rotate(-45deg);
                        }
                    }

                    &.mtt{
                        &:before{
                            width: calc(100% - 19px);
                            top: calc(50% - 2px);
                            left: 0;
                        }
                        &:after{
                            width: 30px;
                            top: 7px;
                            right: -6px;
                            transform: rotate(-45deg);
                        }
                    }

                    &.mtb{
                        &:before{
                            width: calc(100% - 19px);
                            top: calc(50% - 2px);
                            left: 0;
                        }
                        &:after{
                            width: 30px;
                            bottom: 7px;
                            right: -6px;
                            transform: rotate(45deg);
                        }
                    }

                    &.ttm{
                        &:before{
                            width: calc(100% - 19px);
                            top: calc(50% - 2px);
                            right: 0;
                        }
                        &:after{
                            width: 30px;
                            top: 7px;
                            left: -6px;
                            transform: rotate(45deg);
                        }

                        &.no-cont{
                            &:before{
                                display: none;
                            }
                        }
                    }

                    &.ttb{
                        &:before{
                            width: 30px;
                            bottom: 7px;
                            right: -6px;
                            transform: rotate(45deg);
                        }
                        &:after{
                            width: 30px;
                            top: 7px;
                            left: -6px;
                            transform: rotate(45deg);
                        }
                    }

                    &.cont{
                        &:before{
                            width: 100%;
                            top: calc(50% - 2px);
                            left: 0;
                        }
                    }

                    &.yellow{
                        &:before, &:after{
                            background-color: $color--secondary;
                        }
                    }

                    &.blue{
                        &:before, &:after{
                            background-color: $color--primary;
                        }
                        &.out-yellow{
                            &:after{
                                background-color: $color--secondary;
                            }
                        }
                    }
                }
            }
        }
    }

    .work{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--primary;

        .work__job{

            &.is-hover{
                background-color: #ececec;
                cursor: pointer;
            }
        }
    }

    .edu{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--secondary;
    }

    .skills{
        width: calc(50% - (#{$container--margin} / 2));
        border-top: 10px solid $color--primary;
    }

    .brands{
        width: calc(50% - (#{$container--margin} / 2));
    }

    .projects{
        width: 100%;
        margin-bottom: 0;
        border-top: 10px solid $color--primary;

        .projectswrapper{
            display: flex;
            justify-content: space-between;

            .project{
                width: calc(25% - #{$container--margin});
                background-color: #ececec;
                cursor: pointer;

                .project__thumb{
                    width: 100%;
                    background-color: $color--primary;
                    min-height: 100px;
                }

                .project__title{
                    text-transform: uppercase;
                    margin: 20px 20px 10px;
                }

                .project__desc{
                    margin: 0 20px 20px;
                }
            }
        }

        .projectmorewrapper{
            background-color: rgba(0,0,0,0);
            transition: 200ms ease-in-out;

            &.is-active{
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                z-index: 888;
                background-color: rgba(0,0,0,0.8);

                
            }

            .projectmore{
                width: 0px;
                height: 100vh;
                background-color: $white;
                position: fixed;
                top: 0;
                right: 0;
                z-index: 999;
                transition: 200ms ease-in-out;

                &.is-active{
                    width: 600px;
                    max-width: 100%;

                    .projectmore__close {
                        position: absolute;
                        left: -42px;
                        top: 22px;
                        width: 20px;
                        height: 20px;
                        opacity: 0.3;
                        z-index: 9999;
                        transition: 200ms ease-in-out;
    
                        &:hover{
                            opacity: 1;
                            transform: rotate(90deg);
                        }
    
                        &:before, &:after{
                            position: absolute;
                            left: 10px;
                            content: ' ';
                            height: 20px;
                            width: 2px;
                            background-color: #FFF;
                        }
    
                        &:before { transform: rotate(45deg); }
                        &:after { transform: rotate(-45deg); }
                    }
                }
            }              
        }
    }
}

@media only screen and (max-width: 1500px) {
    main{
        .timeline{
			.timelinewrapper{    
                .tl-row{
                    .tl-field{
                        height: 20px;

                        .tl-ball{
                            height: 20px;
                            width: 20px;
                            top: calc(50% - 10px);
                            left: 8px;
                            font-size: 12px;
                            line-height: 12px;
                        }

                        &.mtt{
                            &:after{
                                top: 2px;
                                right: -3px;
                            }
                        }

                        &.btm{
                            &:after{
                                bottom: 3px;
                                left: -3px;
                            }
                        }

                        &.mtb{
                            &:after{
                                bottom: 3px;
                                right: -2px;
                            }
                        }

                        &.ttm{
                            &:after{
                                top: 3px;
                                left: -3px;
                            }
                        }

                        &.btm, &.mtt, &.mtb, &.ttm, &.ttb{
                            &:before{
                                width: calc(100% - 9px);
                            }
                            &:after{
                                width: 15px;
                            }
                        }

                        &.cont{
                            &:before{
                                width: 100%;
                            }
                        }
                    }
                }
            }
		}
    }
}

@media only screen and (max-width: $snap--desktop) {
    main{

        section{
                margin-bottom: $container--margin--small;
        }
        .sectionwrapper{
            flex-wrap: wrap;

            section{
                margin-bottom: $container--margin--small;
                padding: $container--margin;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $snap--tablet) {
    main{
        padding: $container--margin--small;
    }
}

@media only screen and (max-width: $snap--mobile) {
    main{
        .timeline{
            display: none;
        }
    }
}