header{
	width: 300px;
	background-color: $color--primary;
	padding: $container--margin;
	transition: width 0.3s;

	&.scrolled{
		width: 100px;
	}
}

@media only screen and (max-width: $snap--desktop) {
	header{
		width: 200px;
    }
}

@media only screen and (max-width: $snap--tablet) {
    header {
		width: 100%;
		
		&.scrolled{
			width: 100%;
		}
    }
}

@media only screen and (max-width: $snap--mobile) {
    header {

    }
}